Guides/AADEntitlementsSync/src/logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "@parameters('client_id')",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": {
                                "email": "@{variables('Added users')}",
                                "role": "MEMBER"
                            },
                            "headers": {
                                "Content-Type": "application/json",
                                "accept": "application/json",
                                "data-partition-id": "@parameters('datapartition_id')"
                            },
                            "method": "POST",
                            "uri": "https://@{parameters('hostname')}/api/entitlements/v2/groups/@{parameters('synced_entitlements_group')}%40@{parameters('datapartition_id')}.dataservices.energy/members"
                        },
                        "runAfter": {
                            "Set_Added_Users": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "Set_Added_Users": {
                        "inputs": {
                            "name": "Added users",
                            "value": "@triggerBody()?['id']"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "else": {
                    "actions": {
                        "HTTP_2": {
                            "inputs": {
                                "authentication": {
                                    "audience": "@parameters('client_id')",
                                    "type": "ManagedServiceIdentity"
                                },
                                "headers": {
                                    "accept": "application/json",
                                    "data-partition-id": "@parameters('datapartition_id')"
                                },
                                "method": "DELETE",
                                "uri": "https://@{parameters('hostname')}/api/entitlements/v2/groups/@{parameters('synced_entitlements_group')}%40@{parameters('datapartition_id')}.dataservices.energy/members/@{variables('Removed users')}"
                            },
                            "runAfter": {
                                "Set_Removed_Users": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Set_Removed_Users": {
                            "inputs": {
                                "name": "Removed users",
                                "value": "@triggerBody()?['id']"
                            },
                            "runAfter": {},
                            "type": "SetVariable"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@empty(triggerBody()?['@removed']?['reason'])",
                                "@true"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_Removed_users": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Initialize_variable_-_Added_users": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Added users",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_-_Removed_users": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Removed users",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_Added_users": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            },
            "client_id": {
                "defaultValue": "<clientId>",
                "type": "String"
            },
            "datapartition_id": {
                "defaultValue": "<dataPartitionId>",
                "type": "String"
            },
            "hostname": {
                "defaultValue": "<instanceName>",
                "type": "String"
            },
            "synced_entitlements_group": {
                "defaultValue": "<entitlementsGroup>",
                "type": "String"
            }
        },
        "triggers": {
            "When_a_group_member_is_added_or_removed": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365groups']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/trigger/v1.0/groups/delta",
                    "queries": {
                        "$select": "members",
                        "groupId": "<AzureAdGroupId>"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "office365groups": {
                    "connectionId": "/subscriptions/<subscriptionId>/resourceGroups/<resourceGroup>/providers/Microsoft.Web/connections/office365groups-1000",
                    "connectionName": "office365groups-1000",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    },
                    "id": "/subscriptions/<subscriptionId>/providers/Microsoft.Web/locations/westeurope/managedApis/office365groups"
                }
            }
        }
    }
}